<div class="container">
  
  <h1>Show</h1>
  <ul>
    <h2><%= @restaurant.name %></h2>
    <li>
      <p><%= @restaurant.category %> restaurant</p> 
    </li>
    <li>
      <p>Address: <%= @restaurant.address %></p>
    </li>
    <li>
      <p>Phone: <%= @restaurant.phone_number %></p>
    </li>
  </ul>

  <%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: "btn btn-success" %>
  <br>
  <br>
  <br>
  <%= link_to 'Home', restaurants_path, class: "btn btn-primary" %>
  <br>
  <br>
  <br>
  <br>
  <div class="review">
  	<h3>Add a review</h3>
    <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.button :submit, class: "btn btn-success" %>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <ul>
    <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.content %> <%= review.rating %> Stars!
    </li>
    <% end %>
  </ul>
</div>